<br><br>

<style>
form { margin-left:35%;  }
body {text-align: left; margin-left:15%;}
</style>

<h1> Enter the number of each item that you want to order: </h1>
<h2>
<form method="post" action="/orders">
 
<h1><input type="integer" name="hamburgers" value=> Hamburgers $2.69 each
  <br><br><br>
  <input type="integer" name="cheeseburgers" value=> Cheeseburgers $2.89 each
  <br><br><br>
  <input type="integer" name="hotdogs" value=> Hotdogs $1.89 each
  <br><br><br>
  <input type="integer" name="chilidogs" value=> Deluxe chili dogs $2.25 each
  <br><br><br><br>
  <input type="submit" value="Submit"></h1>

 </form> 
</h2>