Enter the number of each item that you want to order

<form method="post" action="/orders">
 
  <input type="integer" name="hamburgers" value=0> Hamburger $2.69 each
  <br>
  <input type="integer" name="cheeseburgers" value=0> Cheeseburger $2.89 each
  <br>
  <input type="integer" name="hotdogs" value=0> Hotdog $1.89 each
  <br>
  <input type="integer" name="chilidogs" value=0> Deluxe chili dogs $2.25 each
  <br><br>
  <input type="submit" value="Submit">

 </form> 