<h1>Enter the number of each item that you want to order </h1>
<h2>
<form method="post" action="/orders">
 
  <input type="integer" name="hamburgers" value=0> Hamburgers       $2.69 each
  <br><br><br>
  <input type="integer" name="cheeseburgers" value=0> Cheeseburgers $2.89 each
  <br><br><br>
  <input type="integer" name="hotdogs" value=0> Hotdogs         $1.89 each
  <br><br><br>
  <input type="integer" name="chilidogs" value=0> Deluxe chili dogs $2.25 each
  <br><br><br><br>
  <input type="submit" value="Submit">

 </form> 
</h2>